.home-container {
  margin-top: 50px;
}
.title-home {
  margin-bottom: 1rem;
  font-family: "Melior";
  letter-spacing: 5px;
}
.small-cap {
  font-size: 16px;
}
.home-feature {
  font-family: "Melior";
  list-style: none;
}
.home-feature li {
  margin-bottom: 4px;
}
.home-feature li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ce8129; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.customer-rate{
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-size: 16px;
  padding: 1rem 0.5rem 0.4rem 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
