.nav-wrapper{
   /* border-top: 3px solid #ce8129; */
   padding-top: 5px;
}
.navbar{
   padding: 0 !important;
}

.navbar-nav .nav-item{
   color: #333 !important;
   font-weight: 600;
   font-size: 15px;
   padding: 0px !important;
}

.navbar-nav .nav-item .nav-link{
   color: #333 !important;
   padding: 0px !important;
   padding-top: 1rem !important;
   padding-bottom: 1.5rem !important;
   margin-right: 5em;
   border-top: 5px solid transparent;
}
.navbar-nav .nav-item .nav-link:hover{
   color: #333 !important;
   border-top: 5px solid #ce8129
}
.top-menu-container{
   height: auto;
}
.top-min-bar{
   margin-top: 5px;
   text-align: right;
   font-size: 13px;
}
.top-min-bar ul{
   list-style-type: none;
   margin: 0;
   padding: 0px;
}
.top-min-bar ul li{
   display: inline-block;
}
.top-min-bar ul li:first-child{
   font-weight: bold;
}
.top-min-bar ul li:last-child{
   border-left: 1px solid #ce8129;
   margin-right: 10px;
}

.top-min-bar a {
   text-decoration: none;
   color: #333;
}
.top-min-bar .nav-link {
   margin-right: 15px !important;
   padding: 0 !important;
}

.middle-top-bar {
   padding: 20px 0px;
   border-bottom: 0.6px solid rgba(0, 0, 0, 0.2);
}
.middle-top-bar .left-panel{
}
.middle-top-bar .right-panel{
   text-align: right;
}


.open-hours{
   font-family: 'Noto Serif';
   
}
.open-hours .call{
   margin-top: -10px;
   font-size: 30px;
   font-weight: 700;
}
.open-hours .open{
   margin-top: -5px;
   font-size: 14px;
   font-family: 'Open Sans';
}

.container-fluid {
   padding: 0px !important;
}


.dropdown-menu{
   border-radius: 0px !important;
}
.dropdown-toggle::after {
   display: none;
}
.material-icons {
   vertical-align: middle;
}
.btn-lang{
   padding-left: 1rem;
}

i{
   margin-left: 10px;
   color: #ce8129;
}
.icon{
   color: white;
   font-size: 2.5rem;
}