body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn{
  font-weight: 500;
}
.btn:focus,.btn:active{
  background: #72473c !important;
  border: 1px solid transparent!important;
}
.btn:focus,.btn:active, .form-control:focus, .form-control:active {
  /* outline: none !important; */
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
