body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.btn {
  border-radius: 0 !important;
}
.btn-primary {
  
  background: #ce8129;
  border: 1px solid #ce8129;
}
.btn-primary:hover {
  background: #72473c;
  border: 1px solid #72473c;
}
.btn{
  font-weight: 600 !important;
}
.btn:focus,.btn:active {
  background: #72473c !important;
  border: 1px solid transparent!important;
}
.btn:focus,
.btn:active, 
.form-control:focus, 
.form-control:active {
  /* outline: none !important; */
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
